services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgress
      POSTGRES_PASSWORD: 123456789
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    restart: always
    depends_on:
      - db
    environment:
      db_url: postgresql+psycopg2://postgress:123456789@db:5432/postgres
    ports:
      - "8000:8000"

volumes:
  pgdata:
